<div class="container d-flex flex-column justify-content-center align-items-center" style="height: 100vh">
  <h1>Welcome to the webpack express demo</h1>
  <div>
    <a href="/pageOne" class="btn btn-primary">Go to Page One</a>
    <a href="/pageTwo" class="btn btn-primary">Go to Page Two</a>
  </div>
</div>
