<div class="container d-flex align-items-center justify-content-center" style="height: 100vh">
  <h1>This is a demo for socket connection</h1>
</div>
<script type="text/javascript" src="/pageTwo.js"></script>
